.wrap {
    text-align: center;
}
.mainTitle {
    color: green;
    margin-top: 15px;
}
.form-control {
    width: 200px;
    height: 30px;
}
.form-select {
    width: 400px;
    margin-bottom: 7px;
    text-align: center;
}