.wrap {
    text-align: center;
}
.mainTitle {
    color: green;
    margin-top: 30px;
}
.form-control {
    width: 500px;
    height: 35px;
    border: 2px solid green;
    margin: 0 auto 7px;
    font-weight: bold;
}
.form-select {
    width: 500px;
    border: 2px solid green;
    text-align: center;
    margin: 0 auto 7px;
    font-weight: bold;
}
.selectBox {
    margin-bottom: 30px;
}