
    <body>
        {% extends "base.html" %}


{% block content %}

        <!-- Header-->
        <header class="py-5 login-form">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="mainTitle display-5 fw-bold">Monkeys Jungle</h1>
                        <p class="subTitle fs-4">정글이라는 정글속에서 생존하기 위한 최소한의 도구</p>


                        <form action="{{url_for('login_done')}}" method="get">
                            <input class="form-control" name="signin_id" id="signin_id" type="text"
                                placeholder="Enter your ID..." data-sb-validations="required" />
                            <input class=" form-control" name="signin_pwd" id="signin_pwd" type="password"
                                placeholder="Enter your PW..." data-sb-validations="required" />
                            <button type="submit" class="signin btn  loginBtn btn btn-success btn-lg">Login</button>
                            </div>
                        </form>
                        
                        <div class="col-lg-6 sigin-wd">
                            <a href="{{ url_for('signin') }}" class="signin btn loginBtn btn btn-success btn-lg">Signin</a>
                        </div>
  
                    </div>
                </div>
            </div>
        </header>
    </body>

    
    {% block message %}
    {% endblock message %}


    {% endblock %}


